pymupdf
sqlalchemy
pymysql
pandas 
openpyxl 
xlrd
python-docx
pytesseract 
pillow
dotenv
watchdog
cryptography
ollama
requests
fastapi
uvicorn
python-multipart
qdrant-client
protobuf
grpcio
google-generativeai
openai