pymupdf
sqlalchemy
pymysql
pandas 
openpyxl 
xlrd
python-docx
pytesseract 
pillow
dotenv
watchdog
cryptography
ollama 
qdrant-client
openai
requests
google-generativeai
fastapi
uvicorn
python-multipart